@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bowler Form";
}

@model BowlingLeague.Models.Bowler

<div>
    <h1>Please include all neccessary information</h1>
</div>
<div>
    <form method="post">
        @*<input type="hidden" asp-for="BowlerID" value="max + 1" />*@
        <label asp-for="BowlerFirstName">First Name:</label>
        <input asp-for="BowlerFirstName" />
        <br />
        <label asp-for="BowlerMiddleInit">Middle Initial:</label>
        <input asp-for="BowlerMiddleInit" />
        <br />
        <label asp-for="BowlerLastName">Last Name:</label>
        <input asp-for="BowlerLastName" />
        <br />
        <label asp-for="BowlerAddress">Address:</label>
        <input asp-for="BowlerAddress" />
        <br />
        <label asp-for="BowlerCity">City:</label>
        <input asp-for="BowlerCity" />
        <br />
        <label asp-for="BowlerState">State:</label>
        <input asp-for="BowlerState" />
        <br />
        <label asp-for="BowlerZip">Zipcode:</label>
        <input asp-for="BowlerZip" />
        <br />
        <label asp-for="BowlerPhoneNumber">Phone Number:</label>
        <input asp-for="BowlerPhoneNumber" />
        <br />

        <label asp-for="TeamID">Team:</label>
        <select asp-for="TeamID">
            <option value="">Select A Team</option>
            @foreach (Team t in ViewBag.Teams)
            {
                <option value="@t.TeamID">@t.TeamName</option>
            }

        </select>
        <br />

        <button type="submit">Save Bowler Information</button>
    </form>
</div>